/Habitat.class
/Sector.class
/Animales.class
/Animal.class
/LibretaMedica.class
/Terrestre.class
/Acuatico.class
/Volador.class
/Carnivoro.class
/Herbivoro.class
/Omnivoro.class
/Felino.class
/Reptil.class
/Oso.class
/Zoologico.class
